@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: inherit;
}


:root {
    --cor-base: #f2d7b6;
    --cor-1: #2C302E;
    --cor-2: #A1683A;
    --cor-3: #808A9F;
    --cor-4: #5448C8;
    --fonte-base: 'Roboto', sans-serif;
}

body {
    background-color: #f2d7b6;
    font-family: var(--fonte-base);
    height: 100%;
}

.logo__coffee {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--cor-2);
    font-size: 3rem;
    align-items: center;
}

.bem__vindo {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 3rem;

}

.cadastro__bottom {
    margin-top: 5rem;
    margin-left: 28%;
    margin-right: 28%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    background-color: var(--cor-2);
    font-size: 2rem;
    border-radius: 4%;
}

.login__bottom {
    margin-top: 3rem;
    margin-left: 28%;
    margin-right: 28%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    background-color: var(--cor-2);
    font-size: 2rem;
    border-radius: 4%;
}

.main__cadastro__titulo {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;

}



.main__formulario__cadastro{
    margin-left: 3rem;
    display: flex;
    width: 300px;
    flex-direction: column;
    
}


.button__concluir__cadastro{
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao_voltar {
    align-items: center;
}

.servicos__all {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botao__services {
    background-color: var(--cor-2);
    padding: 1rem 5rem;
    margin-top: 7%;
}

.cardapio__titulo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-size: 2rem;
    letter-spacing: 1vh;
}

.cardapio__geral {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.cardapio__item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardapio__geral img {
    width: 10vh;
    padding-bottom: 5%;
}

.button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
}


.botao__quant {
    width: 66px;
    height: 40px;
    text-align: center;
    font-size: 17px;
}


.total__carrinho {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: var(--cor-3);
    align-self: center;
}


.finaliza__pedido{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: var(--cor-3);
    align-self: center;
}
.cancelar__pedido{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: var(--cor-3);
    align-self: center;
}

.footer__final {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.entrega {
    margin-top: 20px;
    display: flex;
      justify-content: center;
      align-items: center;

}

table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #808A9F;
        }
        th {
            background-color: #A1683A;
            color: white;
        }
        .cancel-button {
            margin-top: 10px;
        }

